@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #8bc6ec;
  --background: #ffffff;
  --background-secondary: #ffffff;
  --background-tertiary: #2830487c;
  --text-primary: #000;
  --text-tertiary: white;
  --accent: #8e05c2;
  --border: #808080;
  --form-bg: #fff;
}

[data-theme="dark"] {
  --background: #000;
  --background-secondary: #3a3a3c;
  --background-tertiary: #283048c4;
  --text-primary: #fff;
  --text-tertiary: black;
  --text-secondary: rgb(231, 142, 59);
  --accent: #8e05c2;
  --border: #808080;
  --form-bg: #191919;
}

* {
  margin: 0;
  padding: 0;
  font-family: "NTR", sans-serif;
}

button {
  &:focus-visible {
    outline: none;
  }
}

@import "./Welcome", "./Authenticateion", "./Home", "./Video", "./Profile",
  "./History", "./Navbar", "./CustomButton";
